.header {
    background-color: navy;
    color: white;
    text-align: center;
}

.main {
    background-color: lightgray;
    color: white;
    font-size: 12px;
    padding: 1em;
    text-align: center;
}

body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0;

}


